@font-face {
    font-family: Vazir;
    src: url('Vazir.eot');
    src: url('Vazir.eot?#iefix') format('embedded-opentype'),
    url('Vazir.woff') format('woff'),
    url('Vazir.ttf') format('truetype');
    font-weight: normal;
}
body {
    font-family: Vazir,Material Icons !important;
}
header {
    text-align: center;
    font-size:50px;
}
input[type = "submit"] {
    font-family: Vazir,Material Icons !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
input[type = "number"] {
    font-family: Vazir,Material Icons !important;
    width: 200px;
    margin: 10px;
    border-bottom: 1px solid red;
    border-left: none;
    border-top: none;
    border-right: none;
}
input[type = "text"]::-webkit-input-placeholder {
    text-align: center;
}
input[type = "text"]::-moz-placeholder {
    text-align: center;
}
input[type = "text"]::-ms-input-placeholder {
    text-align: center;
}
.disnon {
    display: none;
}
.dis {
    display: block;
}
#res-error {
    color: red;
}
/*Upload*/

.upload {
    margin: 10px;
    padding: 10px;
    background: grey;
    border: 1px solid gray;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}
.upload:hover{
    background: #767676;
}
.upload-box {
    text-align: center;
    border: 2px dashed darkgoldenrod;
    width: auto;
    height: auto;
    margin-top: 5px;
}